@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bg-cover,
.search-section,
.home-footer,
.store-container,
.saved-nav {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.bg-cover {
  background-image: url('../public/img/bg-image.png');
}

.bg-cover::before,
.search-section::before,
.home-footer::before,
.store-container::before,
.saved-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f8fb;
  opacity: 0.9;
  z-index: 1;
}

.bg-cover::before {
  height: 100vh;
  background-color: #e3e3e3;
  opacity: 0.5;
}

.search-section {
  background-image: url('../public/img/lol.png');
}

.search-section::before {
  height: 100px;
}

.home-footer,
.store-container,
.saved-nav {
  background-image: url('../public/img/lol.png');
}

.home-footer::before,
.store-container::before,
.saved-nav::before {
  height: 100%;
}

.filter-input .ant-input::placeholder,
.login-input .ant-input::placeholder,
.search-s-input .ant-input::placeholder {
  padding-left: 10px !important;
}

.filter-input .ant-input::placeholder {
  color: #f4f5f6 !important;
}

.login-input .ant-input::placeholder {
  color: #0c0d0d !important;
}

.search-s-input .ant-input::placeholder {
  color: #495d69 !important;
  padding-left: 15px !important;
}

.filter-input .ant-input,
.filter-store .ant-input {
  padding-left: 10px !important;
  outline: none !important;
}

.filter-input .ant-input {
  color: white !important;
}

.filter-store .ant-input {
  color: black !important;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-custom-button:hover {
  color: white !important;
  background-color: inherit !important;
  border-color: #79878f !important;
}

.header-s-custom-button:hover {
  color: #79878f !important;
  background-color: inherit !important;
  border-color: #79878f !important;
}

.login-button:hover {
  background-color: #c1cf16 !important;
  color: black !important;
  border-color: #c1cf16 !important;
}

.register-button:hover {
  color: #141c24 !important;
  border-color: #d1d5db !important;
}

.search-s-input {
  z-index: 1000;
}
